---
---
h1, h2, h3, h4 {
	font-family: 'Georgia', serif;
}


.navbar {
	margin-bottom: 0;
}

.front-page {
	.top-section {
		background-image: url(../img/background.jpg);
		background-size: cover;
		min-height: 100vh;
		background-position: center;

		.row {
			margin-top: 20vh;
		}
	}

	#whoweare {
		min-height: 100vh;
	}
}

.who-we-are, .contact {
	background-color: #a94442;
	.container {
		&.title {
			background-color: #a94442;
			color: #fff;
			h1 {
				margin: 30px 0;
			}
		}
		&.content {
			background-color: #fff;
			padding-top: 15px;
			box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
		}
		.ngo-wrapper {
			margin-bottom: 30px;
			.ngo-box {
				height: 150px;
				padding: 30px;
				border: 1px solid #ccc;
				vertical-align: middle;
				img {
					max-width: 90%;
					max-height: 90px;
					vertical-align: middle;
				}
				.ngo-name {
					vertical-align: middle;
					text-align: center;
				}
			}
		}
		.board{
			&.row {
				padding-bottom: 10px;
				border-bottom: 1px solid #ccc;
			}
			&.row:last-of-type {
				padding-bottom: 0;
				border-bottom: 0px solid #ccc;
			}
		}
		.journalists {
			img {
				width: 100%;
			}
			&.row {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ccc;
			}
			&.row:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0px solid #ccc;
			}
		}
	}
}