---
---
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

h1, h2, h3, h4 {
	font-family: 'Slabo 27px', serif;
}

p {
	text-align: justify;
}

@media (min-width: 1200px) {
	.container {
	  width: 900px;
	}
}

.navbar-default {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	border-top: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	border-radius: 0;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
	  display: inline-block;
	  float: none;
	}
}

@media (min-width: 768px) {
	.navbar .navbar-collapse {
	  text-align: center;
	}
}

.navbar {
	margin-bottom: 0;
	.brand {
		padding: 0;
	}
	.navbar-brand {
		padding: 0 2px;
	}
	img {
		max-height: 50px;
	}
}

@media (min-width: 768px) {
	.navbar > .container {
	    width: 95%;
	}
	.navbar-nav > a {
		padding: 15px 12px;
	}
}

@media (min-width: 1200px) {
	.navbar > .container {
	  width: 950px;
	}
	.navbar-nav > li > a {
		padding: 15px 12px;
	}
}

.front-page {
		background-image: url(../img/diagonal-noise.png);
		padding-bottom: 30px;
	.container.content {
		background-color: #fff;
		h1 {
			background-color: #a94442;
			background-image: url(../img/diagonal-noise.png);
			padding: 20px;
			color: #fff;
			text-align: left;
			margin: 20px -15px;
		}
	}
	.top-section {
		background-image: url(../img/background.jpg);
		background-size: cover;
		min-height: 100vh;
		background-position: center;
		.logo {
			margin-top: 40px;
		}
		.link-list {
			font-family: 'Slabo 27px', serif;
			position: absolute;
			bottom: 0;
			a {
				color: #fff;
				border-radius: 4px 4px 0 0;
				border-top: none;
				border-color: #fff;
				font-size: 16px;
				background-color: #a94442;
				background-image: url(../img/diagonal-noise.png);
				&:hover {
					border-bottom-color: #a55856;
				}
			}
		}
		.link-list-btns {
			font-family: 'Slabo 27px', serif;
			position: absolute;
			bottom: 0;
			a {
				color: #fff;
				border-radius: 4px 4px 0 0;
				border-top: none;
				border-color: #fff;
				font-size: 16px;
				background-color: #a94442;
				background-image: url(../img/diagonal-noise.png);
				&:hover {
					border-bottom-color: #a55856;
				}
			}
		}		
		.row {
			margin-top: 20vh;
		}
		hr {
			border-top-color: #333;
		}
		#title, #text {
			text-align: center;
		}
	}
	.anchor {
    display: block;
    position: relative;
    top: -52px;
    visibility: hidden;
	}

	#whoweare {
		.btn-morewho {
			color: #a94442;
			background-color: #fff;
			border-color: #a94442;
		}
	}

	#whatwedo {
		text-align: center;
		h1 {
			margin: 0px -15px 20px -15px;
		}
		h3 {
			margin-top: 0;
		}
		.what-icon {
			margin: 0 0 10px 0;
			background: #a94442;
			width: 60px;
			height: 60px;
			display: inline-block;
			border-radius: 50%;
			text-align: center;
		}
		i {
			font-size: 34px;
			color: #FFFFFF;
			position: absolute;
			left: 0;
			right: 0;
			top: 13px;
			text-align: center;
		}
		.what-content {
			text-align: center;
		}
	}

	svg {
		max-width: 100%;
		max-width: 330px;
		a {
			cursor: pointer;
		}
	  path {
	  	transition: all 0.2s;
			fill: #222 !important;
			stroke-width:1 !important;
			&:hover {
		    fill: #a94442 !important;
			}
			&.clicked {
		    fill: #a94442 !important;
		  }
		}
	}
}

.who-we-are, .contact, .faq, .media, .study, .profile {
	margin-top: 52px;
	background-image: url(../img/diagonal-noise.png);
	padding-bottom: 30px;
	padding-top: 30px;
	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		font-size: 14px;
		border-left: 5px solid #a94442;
	}
	.well {
		border-radius: 0;
	}
	.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
	}
	.container {
		&.title {
			background-color: #a94442;
			background-image: url(../img/diagonal-noise.png);
			color: #fff;
			h1 {
				margin: 30px 0;
			}
		}
		&.content {
			background-color: #fff;
			padding-bottom: 15px;
		}
		.ngo-wrapper {
			margin-bottom: 30px;
			.ngo-box {
				height: 150px;
				padding: 15px;
				border: 1px solid #ccc;
				vertical-align: middle;
				img {
					max-width: 100%;
					max-height: 120px;
				}
				.ngo-name {
					display: block;
					vertical-align: middle;
					text-align: center;
					font-family: 'Slabo 27px', serif;
					font-size: 17px;
					padding-top: 20px;
				}
			}
		}
		.journalists, .management, .board {
			img {
				width: 100%;
			}
			&.row {
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
		}
	}
}

.title {
	position: relative;
	.language {
		font-family: 'Slabo 27px', serif;
		// position: absolute;
		bottom: 0;
		right: 10px;
		color: #000;
		border: none;
		border-radius: 4px 4px 0 0;
		border-bottom: 3px solid #fff;
		&:hover {
			border-bottom-color: #a94442;
		}
	}
}

.media {
	min-height: calc(100vh - 52px);
}

.language-homepage {
	font-family: 'Slabo 27px', serif;
	color: #000;
	border: none;
	border-radius: 4px 4px 0 0;
	border-bottom: 3px solid #fff;
	&:hover {
		border-bottom-color: #a94442;
	}
}

.lang-menu {
	font-size: xx-small;
}

.post-block {
	min-height: 520px;
}

.post-blockquote {
	font-size: 30px;
	text-align: center !important;
}



// .post-image {
// 	max-height: 230px ;
// }

.btn-special {
	color: #fff;
	border-radius: 4px 4px 4px 4px;
	border-top: none;
	border-color: #fff;
	font-size: 20px;
    line-height: 50px;
    height: 60px;
	background-color: #a94442;
	background-image: url(../img/diagonal-noise.png);
	&:hover {
		color: #fff;
		border-radius: 4px 4px 4px 4px;
		background-color: #a94442;
		background-image: none;
	}
}	