<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.og_description }}{% endif %}">

    <!-- OPEN-GRAPH -->
    <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="og:image" content="{% if page.image %}{{page.image | prepend: site.url}}{% else %}{{ 'images/header.jpg' | prepend: site.url }}{% endif %}">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{{ site.og_description }}{% endif %}" />
    <meta property="og:site_name" content="PPLAAF" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="{{ site.twitter_username }}" />
    <meta name="twitter:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{{ site.og_description }}{% endif %}">
    <meta name="twitter:url" content="{{ page.url | prepend: site.url }}" />
    <meta name="twitter:image" content="{% if page.image %}{{page.image | prepend: site.url}}{% else %}{{ 'images/header.jpg' | prepend: site.url }}{% endif %}">

    <link href="{{ 'favicon.ico' | prepend: site.baseurl }}" rel="shortcut icon" />
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/custom.css"/>
</head>
