<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="{{ site.baseurl }}/fr/"><img src="{{ site.baseurl }}/img/logo2.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="brand hidden-xs" href="{{ site.baseurl }}/fr/"><img src="{{ site.baseurl }}/img/logo2.png"></a></li>
        <li><a href="{{ site.baseurl }}/fr/send-us-info.html">Envoyez-nous des info</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Études de cas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for study in site.studies-fr %}
            <li><a href="{{ study.url }}">{{ study.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profils de pays <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for profile in site.profiles-fr %}
            <li><a href="{{ profile.url }}">{{ profile.country }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/fr/tech.html">Technologie</a></li>
        <li><a href="{{ site.baseurl }}/fr/news.html">Actualités</a></li>

        <li><a href="{{ site.baseurl }}/fr/faq.html">FAQ</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle lang-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ site.baseurl }}/img/flags/FR.png"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/flags/ENG.png"> English</a></li>
            <li><a href="{{ site.baseurl }}/pt"><img src="{{ site.baseurl }}/img/flags/PT.png"> Português</a></li>
            <li><a href="{{ site.baseurl }}/ar"><img src="{{ site.baseurl }}/img/flags/AR.png"> العربية</a></li>
          </ul>
        </li>
        <li><a class="btn-social" href="https://twitter.com/PPLAAF"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a class="btn-social" href="https://facebook.com/PPLAAF/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
