<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Protecting whistleblowers, protecting disclosures">

    <!-- OPEN-GRAPH -->
    <meta property="og:title" content="PPLAAF" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pplaaf.org" />
    <meta property="og:image" content="https://pplaaf.org/img/logo1.png">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="Protecting whistleblowers, protecting disclosures" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@PPLAAF" />
    <meta name="twitter:creator" content="@PPLAAF" />
    <meta name="twitter:title" content="PPLAAF">
    <meta name="twitter:description" content="Protecting whistleblowers, protecting disclosures">
    <meta name="twitter:url" content="https://pplaaf.org" />
    <meta name="twitter:image" content="https://pplaaf.org/img/logo1.png">

    <link href="/favicon.png" rel="shortcut icon" />
    <title>Plateforme de Protection des Lanceurs d'Alerte en Afrique</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css"/>
</head>
