<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="/"><img src="{{ site.baseurl }}/img/logo2.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="brand hidden-xs" href="/pt"><img src="{{ site.baseurl }}/img/logo2.png"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quem somos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="who-we-are.html">Gestão</a></li>
            <li><a href="who-we-are.html#board">Conselho consultivo</a></li>
            <li><a href="who-we-are.html#ngos">ONGs</a></li>
            <li><a href="who-we-are.html#legal">Jurídico</a></li>
            <li><a href="who-we-are.html#journalists">Jornalistas</a></li>
          </ul>
        </li>
        <li><a href="send-us-info.html">Envie-nos informações</a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Case studies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for study in site.studies-pt %}
            <li><a href="{{ study.url }}">{{ study.name }}</a></li>
            {% endfor %}
          </ul>
        </li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Países<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for profile in site.profiles-pt %}
            <li><a href="{{ profile.url }}">{{ profile.country }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="tech.html">Tecnologia</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <!--<li><a href="/fr">Français</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle lang-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ site.baseurl }}/img/flags/PT.png"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/"><img src="{{ site.baseurl }}/img/flags/ENG.png"> English</a></li>
            <li><a href="{{ site.baseurl }}/fr"><img src="{{ site.baseurl }}/img/flags/FR.png"> Français</a></li>
            <li><a href="{{ site.baseurl }}/ar"><img src="{{ site.baseurl }}/img/flags/AR.png"> العربية</a></li>
          </ul>
        </li>
        <li><a class="btn-social" href="https://twitter.com/PPLAAF"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a class="btn-social" href="https://facebook.com/PPLAAF/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>